name: MyExpenses Docker Image CI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest
    environment: DEV

    steps:
    - uses: actions/checkout@v4
    - name: Docker Login
      uses: docker/login-action@v3.6.0
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_PASSWORD }}
    - name: Publish MyExpenses Docker Image
      run: |
        docker build -t my-expenses:latest .
        docker tag my-expenses:latest rbcadaing/my-expenses:latest
        docker push rbcadaing/my-expenses:latest



    
    


          
    
